.container {
    width: 25%;
    overflow: hidden;
}

img {
    float: left; /*moves image to the left */
    margin-right: 15px; /* adds spacing between the image and the text */
    width: 24%; /* adjusts image size */
    height: auto; /* maintains aspet ratio */

}

p {
    font-size: 24px;
    line-height: 1.5; /*improves text read-ability */
} 

img {
    max-width: 100%;
    width: 200px;
    height: auto;
}