<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>Practicing Code</title>

h1 {
    font-size: 46px;
}

imgage {
    width: 200px;
    height: 400px;
    width: auto;
}



 header {
        border-bottom: 3px solid rgb(80, 11, 11);
        
        
    /*
    section {
        border: 1px solid rgb(233, 41, 41);
        background-color: rgb(249, 167, 74);
        margin: 30px;
        padding: 30px
        */
    }
    section {
        width: 50%;
    }
    img {
        width: 100%;
    }
    section {
        width: 1000px;
        height: 50%;
        
    }
    
    h1 {
        margin: 30px 0;
    }
    p {
        margin: 15px 0;
    }
    ul, ol {
        margin: 15px 0;
    }

    h1, h2, h3 {
        margin-bottom: 50px; 
        margin: 0;
        

       
    }



* {
    font-size: 100%;
    line-height: 2;
}
body {
   /*background-color: rgb(239, 235, 226); */
    font-family: "Roboto", sans-serif, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    margin: 50px;
    
}

/* element: state */
figcaption a:hover {text-decoration: underline;
}

h1 {
    font-weight: bold;
    /*font-size: 80;*/
    font-style: oblique;
    color: black;
}

p{ color: black;
}
li{
    color: black;
}


h1 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
li {
    color: black;
    font-style:oblique;
    font-weight: bold;
    font-size: 50 px;
}

h2{ 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black; 
    font-size: 30px;
}


h5{color: black;
}


h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

   
h3 {
    font-size: 20px;
}

p {
    line-height: 2;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.firstclass {
    width:600px;
}
h2 {
    text-align: center;
}
/* this is for an image sizing and can be done in % or px size; use the name you have saved it in as a div class="living room" */

.TRC {
    max-width: 90%;
    display: block;
}

.fppl p {
    max-width: 1000px;
    font-size: 24; 
    font-weight: bold;
    background: rgb(241, 197, 114);
    margin: 

}

p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 0;
}

.container {
   
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-size: 36;
    line-height: 2;
}



.fppl2 {
font-size: 20;
color: black;
/*background-color: rgb(241, 197, 114);
width: 1000px;*/
}

.dedication {
font-size: 14px;
font-family: monaco;
font-style: italic;
font-weight:bold;
color: black;
/*background: url(https://th.bing.com/th/id/OIP.cf-x-wlY4QpE-gi-sArzdAHaB8?rs=1&pid=ImgDetMain);
opacity: .50;
repeat: no-repeat;
background-size: center;
}*/


}

.TRC2-photo {
   
    
}

.poster {
    width:25%;
    height: 50%;
    url(website images/website images/First Peoples Principles of Learning.png)}
  
body {
    font-family: "Times-New-Roman"
    background-color: slategray;
    color: purple;
    color: green;
    color: black;
}

.image {
    border: left-width;
    width: 1000px;
    height: 300px;
    
}



footer {
    font-size: 8px;
    
}

.text-undeerline {
    text-decoration: underline;
}

